@import "tailwindcss";

@theme {
    --color-bege-claro: #fef7d5;
    --color-verde-claro: #abee93;
    --color-azul-piscina: #2d938e;
    --color-azul-profundo: #0b4462;
    --color-coral-suave: #f7a48b;
    --color-pastel: #eee0b7;
}